asn1crypto==0.24.0
configparser==3.5.0b2
cryptography==2.6.1
dnspython==1.16.0
entrypoints==0.3
enum34==1.1.6
gpg==1.12.0
ipaddress==1.0.17
keyring==17.1.1
keyrings.alt==3.1.1
mysql-connector==2.2.9
mysql-connector-python==8.0.15
mysqlclient==1.3.10
opuslib==3.0.1
protobuf==3.6.1
pycrypto==2.6.1
PyGObject==3.30.4
PyICU==2.2
pyxdg==0.26
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
youtube-dl==2020.3.8
