#!/usr/bin/env python3
# mysql
mysql = {
	'host' : '',
	'db' : '',
	'user' : '',
	'secret' : '!!'
}

# discord
discord = {
	'access_token' : '',
	'owner_id' : '',
	'role' : {
		'default' : '',
		'mod' : ''
	},
	'channel' : {
		'debug' : '',
		'general' : '',
		'voice' : '',	
		'ppv' : '',
		'raw' : '',
		'sdlive' : '',
		'twitter': '',
		'chatango': ''
	}
}

# twitter
twitter = {
	'consumer_key' : '',
	'consumer_secret' : '',
	'access_token' : '',
	'access_token_secret' : ''
}

# chatango
chatango = {
	'username' : '',
	'secret' : '',
	'rooms' : ['', '']
}
